.productdisplay{
    display: flex;
    margin: 0px 80px;
}
.productdisplay-left{
    display: flex;
    gap: 17px;
}
.productdisplay-img-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.productdisplay-img-list img{
    height: 113px;
}
.productdisplay-main-img{
    width:400px;
    height: 500px;
}
.productdisplay-right{
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
}
.productdisplay-right h1{
    color:#3d3d3d;
    font-size: 25px;
    font-weight: 700;
}
.productdisplay-right .productdisplay-rightstar{
    display: flex;
    align-items: center;
    margin-top: 12px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;
}
.productdisplay-right-prices{
    display: flex;
    margin: 30px 0;
    gap: 30px;
    font-size: 18px;
    font-weight: 700;
}
.product-display-right-price-old{
    color:#818181;
    text-decoration: line-through;
}
.product-display-right-price-new{
    color:#ff4141;
}
.productdisplayright-description{
    font-size: 14px;
    font-weight: 100;
}
.productdisplay-rightsize{
    margin-top: 30px;
    color:#656565;
    font-size: 20px;
    font-weight: 600;
}
.productdisplay-rightsize h1{
    font-size: 18px;
}
.sizes{
    display: flex;
    margin: 20px 0;
    gap :20px

}
.sizes div{
    padding: 14px 24px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
}
.productdisplay-right button{
    padding: 15px 45px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #ff4141;
    margin-bottom: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}
.productdisplayright-categories{
    margin-top: 10px;
}
.productdisplayright-categories span{
    font-weight: 600;
}
